In [2]:
#문제해석: question 리스트에서 single choice 문항인 원소들만 뽑아내는 것.
question = ['Q2', 'Q3', 'Q4', 'Q5', 'Q6_1', 'Q6_2', 'Q6_3', 'Q6_4', 'Q6_5', 'Q6_6', 'Q6_7', 'Q6_8', 'Q6_9', 'Q6_10', 'Q6_11', 'Q6_12', 'Q7_1', 'Q7_2', 'Q7_3', 'Q7_4', 'Q7_5', 'Q7_6', 'Q7_7', 'Q8', 'Q9', 'Q10_1', 'Q10_2', 'Q10_3']

#리스트 형태로 답이 출력되어야 하므로 ans라는 리스트를 만들고
ans=[]

#question 리스트에서 for문을 이용해 원소를 뽑아낸다.
for i in question:
    if '_' not in i: #단, if문을 이용해 '_'가 없는 원소만을.
        ans.append(i) #이 원소들을 ans리스트에 추가.
print(ans)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

In [4]:
ans2 = [i for i in question if "_" not in i]
print(ans2)

['Q2', 'Q3', 'Q4', 'Q5', 'Q8', 'Q9']

In [5]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [6]:
# Pivot_table 이용
pd.pivot_table(df[df['Year'] >= 2011], values = "Life_Expectancy", index = "Year", columns= "Country")

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

In [13]:
# Pivot 이용
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df
df2 = df[df["Year"] >= 2011]

In [15]:
pd.pivot(df2, index = "Year", columns = "Country", values = "Life_Expectancy")

Country  Canada  France  Germany  Great Britain  Japan   USA
Year
2011       81.4    82.3     80.5           81.0   82.7  78.7
2012       81.6    82.1     80.6           81.0   83.2  78.8
2013       81.7    82.3     80.6           81.1   83.4  78.8
2014       81.8    82.8     81.2           81.4   83.7  78.9
2015       81.9    82.4     80.7           81.0   83.9  78.7
2016       82.0    82.7     81.0           81.2   84.1  78.7
2017       81.9    82.7     81.1           81.3   84.2  78.6
2018       82.0    82.8     81.0           81.3   84.3  78.7
2019       82.2    82.9     81.3           81.4   84.4  78.8
2020       81.7    82.3     81.1           80.4   84.7  77.0

In [19]:
# groupby 이용

In [16]:
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/healthexp.csv")
df

     Year        Country  Spending_USD  Life_Expectancy
0    1970        Germany       252.311             70.6
1    1970         France       192.143             72.2
2    1970  Great Britain       123.993             71.9
3    1970          Japan       150.437             72.0
4    1970            USA       326.961             70.9
..    ...            ...           ...              ...
269  2020        Germany      6938.983             81.1
270  2020         France      5468.418             82.3
271  2020  Great Britain      5018.700             80.4
272  2020          Japan      4665.641             84.7
273  2020            USA     11859.179             77.0

[274 rows x 4 columns]

In [18]:
df3 = df.drop(["Spending_USD"], axis = 1)
df3 = df[df["Year"] >= 2011]
df3 = df3.groupby(['Year','Country']).mean()
df3

                    Spending_USD  Life_Expectancy
Year Country
2011 Canada             4228.962             81.4
     France             4161.698             82.3
     Germany            4566.678             80.5
     Great Britain      3495.652             81.0
     Japan              3740.756             82.7
     USA                8079.467             78.7
2012 Canada             4336.249             81.6
     France             4299.434             82.1
     Germany            4745.546             80.6
     Great Britain      3614.131             81.0
     Japan              3970.765             83.2
     USA                8346.064             78.8
2013 Canada             4428.753             81.7
     France             4544.964             82.3
     Germany            4951.677             80.6
     Great Britain      3667.636             81.1
     Japan              4308.252             83.4
     USA                8519.620             78.8
2014 Canada             4536.810             81.8
     France             4626.679             82.8
     Germany            5151.709             81.2
     Great Britain      3758.935             81.4
     Japan              4328.364             83.7
     USA                8925.879             78.9
2015 Canada             4635.285             81.9
     France             4667.156             82.4
     Germany            5295.975             80.7
     Great Britain      3805.820             81.0
     Japan              4515.556             83.9
     USA                9355.118             78.7
2016 Canada             5044.275             82.0
     France             4928.128             82.7
     Germany            5669.064             81.0
     Great Britain      3960.141             81.2
     Japan              4295.858             84.1
     USA                9717.649             78.7
2017 Canada             5150.470             81.9
     France             5005.756             82.7
     Germany            5970.163             81.1
     Great Britain      4059.125             81.3
     Japan              4412.852             84.2
     USA               10046.472             78.6
2018 Canada             5308.356             82.0
     France             5099.306             82.8
     Germany            6281.840             81.0
     Great Britain      4189.708             81.3
     Japan              4554.276             84.3
     USA               10451.386             78.7
2019 Canada             5189.721             82.2
     France             5167.839             82.9
     Germany            6407.928             81.3
     Great Britain      4385.463             81.4
     Japan              4610.794             84.4
     USA               10855.517             78.8
2020 Canada             5828.324             81.7
     France             5468.418             82.3
     Germany            6938.983             81.1
     Great Britain      5018.700             80.4
     Japan              4665.641             84.7
     USA               11859.179             77.0

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!